{% extends "base.html" %}
{% block header %}
        <!--头图-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Live Music Is A Lifestyle</div>
                <div class="masthead-heading text-uppercase">我的Live</div>
            </div>
        </header>
{% endblock %}
{% block content %}
<section class="page-section bg-light">
                 <div class="container">
                <div class="text-start">
                    <h3 class="section-heading text-uppercase">我收藏的演出</h3>
                    <h3 class="section-subheading text-muted">暂无收藏演出...</h3>
                     </div>
    </div>
    <hr>
    <div class="container">
                     <div class="text-start">
                    <h3 class="section-heading text-uppercase">我收藏的音乐人</h3>
                    <h3 class="section-subheading text-muted">暂无收藏音乐人...</h3>
                     </div>
    </div>
    <hr>
    <div class="container">
                     <div class="text-start">
                    <h3 class="section-heading text-uppercase">我收到的回复</h3>
                    <h3 class="section-subheading text-muted">暂无评论回复...</h3>
                     </div>
    </div>
                     
                    
    
                     </section>

{% endblock %}